[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IATScore"]
	path = IATScore
	url = https://github.com/cran/IATScore
	shallow = true
	registered = true
